<div style="max-width:800px; margin-left: auto; margin-right: auto;">
	<ul class="list-group">
	  <li class="list-group-item">
			<img width="200px" src="/assets/images/{{ page.website_img }} " />
	  </li>

	  <li class="list-group-item">{{ page.website_line_one }} </li>

	  <li class="list-group-item">
		  <a target=_blank href=" {{ page.website_link_two }}"> 
		  	{{ page.website_line_two }}
		  </a>
	 	</li>

	  <li class="list-group-item">
	  	<a target=_blank href=" {{ page.website_link_three }}"> 
		  	{{ page.website_line_three }}
		  </a>
		</li>

	</ul>
</div>
